<%= form_with(model: list, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: ".nested-form-wrapper",
}, html: { class: "shadow p-4 rounded border bg-light" }) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(list.errors.count, "erro") %> impediram esta lista de ser salva:</h4>
      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="row">
    <div class="col md-4 mb-3">
      <%= f.label :title, "Título da Lista", class: "form-label" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Digite o título" %>
    </div>

    <div class="col md-4 mb-3">
      <%= f.label :category, "Categoria", class: "form-label" %>
      <%= f.select :category, List.categories.keys.map { |key| [key.humanize, key] }, { prompt: "Selecione uma categoria" }, class: "form-select" %>
    </div>

    <div class="col md-2 mb-3">
      <%= f.label :deadline, "valido até:", class: "form-label" %>
      <%= f.date_field :deadline, class: "form-control" %>
    </div>
  </div>

  <div class="card-items mt-4">
    <h4><b>Items</b></h4>
    <div class="nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= f.fields_for :items do |item_fields| %>
          <%= render "item_form", f: item_fields %>
        <% end %>
      </template>
        <%= f.fields_for :items do |item_fields| %>
          <%= render "item_form", f: item_fields %>
        <% end %>

      <div data-nested-form-target="target"></div>
      <button data-action="nested-form#add" type="button" class="btn btn-outline-secondary mt-2">
        <i class="bi bi-plus-circle"></i> Adicionar Item
      </button>
    </div>
  </div>

  <div class="mt-4">
    <%= f.submit "Salvar Lista", class: "btn btn-success w-100" %>
  </div>
<% end %>