  <p style="color: green"><%= notice %></p>

<%= render @list %>

  <div class="d-flex justify-content-start gap-2 mt-3">
  <%= button_to "Editar", edit_list_path(@list), class: "btn btn-success", method: :get %>
  <%= button_to "Listas", lists_path, class: "btn btn-outline-secondary", method: :get %>

  <%= button_to "Apagar lista", @list, class: "btn btn-danger", method: :delete %>
  </div>
